[Unit]
Description=Seafile
After=network.target

[Service]
EnvironmentFile={{ seafile_home_path }}/env.sh
Type=oneshot
ExecStart={{ seafile_home_path }}/current/seafile.sh start
ExecStop={{ seafile_home_path }}/current/seafile.sh stop
RemainAfterExit=yes
User=seafile
Group=seafile

[Install]
WantedBy=multi-user.target
